<a class="btn btn-primary" asp-controller="Villain" asp-action="Edit">
  Nuovo cattivo
</a>
<p>@TempData["Message"]</p>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ammazzato</th>
      <th>Nemesi</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
  @foreach (var m in Model)
  {
    <tr>
      <td>@m.Name</td>
      <td>@m.Killed</td>
      <td>@m.Nemesis.Name</td>
      <td>
        <a asp-controller="Villain" asp-action="Edit" asp-route-id="@m.Id"
           class="btn btn-primary">
          Modifica
        </a>
      </td>
      <td>
        <a asp-controller="Villain" asp-action="Delete" asp-route-id="@m.Id"
           class="btn btn-danger">
          Rimuovi
        </a>
      </td>
    </tr>
  }
  </tbody>
</table>