@model List<SuperHeroRow>

<a class="btn btn-primary" asp-controller="SuperHero" asp-action="Edit">
  Nuovo Supereroe
</a>
<p>@TempData["Message"]</p>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Forza</th>
      <th>Può volare</th>
      <th>Assegnati</th>
      <th>Uccisi</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
  @foreach (var sh in Model)
  {
    <tr>
      <td>@sh.Name</td>
      <td>@sh.Strength</td>
      <td>@(sh.CanFly ? "Sì" : "No")</td>
      <td>@sh.AssignedVillains</td>
      <td>@sh.KilledVillains</td>
      <td>
        <a asp-controller="SuperHero" asp-action="Edit" asp-route-id="@sh.Id"
           class="btn btn-primary">
          Modifica
        </a>
      </td>
      <td>
        <a asp-controller="SuperHero" asp-action="Delete" asp-route-id="@sh.Id"
           class="btn btn-danger">
          Rimuovi
        </a>
      </td>
    </tr>
  }
  </tbody>
</table>